@import ../../styles/Variables.sass

.buttons
  float: right

  button
    margin-left: 10px
    margin-top: 10px

.template
  li
    border-bottom: 1px #ccc solid
    padding: 20px 0

    &:last-of-type
      border-bottom: none

    input
      border: none
