@import ../../styles/Variables.sass

.buttons
  float: right

  button
    margin-left: 10px
    margin-top: 10px

.template
  background-color: $light-blue
  padding: 50px

  li
    border-bottom: 1px #ccc solid
    padding: 20px 0

    &:last-of-type
      border-bottom: none

    input
      border: none

  section
    background-color: #FFF
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    box-shadow: $shadow
