@import ../../styles/Variables.sass
$left-padding: 120px

.buttons
  float: right
  padding: 25px

  button
    margin-left: 20px

  &:hover


.margin
  background-color: #FFCCCC
  left: 100px
  height: 100%
  position: absolute
  top: 0
  width: 1px

.template
  background-color: $light-blue
  padding: 50px

  h2
    padding: 20px 0 5px $left-padding

    input
      font-family: Droid Serif
      font-size: 24px
      width: auto

  input
    border: none
    font-size: 16px
    margin: 0
    padding: 0

  li
    border-bottom: 1px #ccc solid
    padding: 20px 0 20px $left-padding

    &:last-of-type
      border-bottom: none

  p
    padding: 0 0 20px $left-padding
    border-bottom: 1px lightblue solid

    input
      width: 50%

  section
    background-color: #FFF
    border-radius: 3px
    box-shadow: $shadow
    padding: 0
    position: relative
