@import ../../styles/Variables.sass

.account
  float: right

.header
  background-color: #000
  background-image: url(images/header-bg.svg)
  background-size: cover
  color: #999
  left: 0
  position: fixed
  text-transform: uppercase
  top: 0
  width: 100%
  z-index: 9999999

  button
    font-size: 12px
    margin: 0
    padding: 0

  h1
    display: inline-block
    font-family: Oswald
    font-weight: normal
    list-style: 27px
    padding: 0
    vertical-align: middle

    .link
      text-transform: none

  section
    padding: 17px 0

  ul
    font-size: 12px
    list-style: none
    margin: 0
    padding-top: 11px

    li
      display: inline-block
      margin: 0
      padding: 0 0 0 20px

.link
  color: #FFF
  // text-transform: uppercase
  text-align: right


  &:hover
    color: lightblue

  &.selected
    color: #fb8a20

.headerLogo
  margin: 0 auto
  text-align: center
  width: 120px

.menu
  float: left

@media screen and (max-width: $mobile-width)
  .account, .menu
    display: none
