@import ../../styles/Variables.sass

.footer
  background-color: #F1F1F2
  color: #999
  text-align: center

  a
    color: #999

  h3
    font-family: Oswald
    font-size: 24px
    padding: 0 0 10px 0

  p
    font-size: 12px

  section
    padding: 80px 0
