@import ./styles/Variables.sass

*
  box-sizing: border-box
  font-family: $font-stack

a
  color: #fefcfd
  text-decoration: none

body
  font-size: 16px
  margin: 0

button
  background: none
  border: none
  color: #000
  cursor: pointer
  font-size: 16px

form
  button
    width: 100%

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0 0 20px 0

label
  display: block
  margin: 0 0 20px 0

input
  border: 1px #999 solid
  font-size: 18px
  margin: 0 0 20px 0
  width: 100%

section
  margin: 0 auto
  max-width: 1000px
  min-width: 500px
  overflow: auto
  padding: 40px 20px

ul
  list-style: none
  margin: 0
  padding: 0
