*
  box-sizing: border-box

a
  color: #fefcfd
  text-decoration: none

body
  margin: 0

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0 0 20px 0

section
  margin: 0 auto
  max-width: 1000px
  min-width: 500px
  overflow: auto
  padding: 200px 20px
